model_config_list: {
    config: {
        name: "half_plus_two",
        base_path: "/models/multiModel/half_plus_two",
        model_platform: "tensorflow"
    },
    config: {
        name: "half_plus_two1",
        base_path: "/models/multiModel/half_plus_two1",
        model_platform: "tensorflow"
    }
}
